PROJECT_ID=[YOUR_GCP_PROJECT_ID]
REGION=[YOUR_GCP_REGION]
SERVICE_NAME=[YOUR_CLOUD_RUN_SERVICE_NAME]
SERVICE_ACCOUNT_NAME=[YOUR_SERVICE_ACCOUNT_NAME]
FLASK_SECRET_KEY=[YOUR_FLASK_SECRET_KEY]
# Firestore Database ID (Defaults to 'schedule-app' if not set)
FIRESTORE_DATABASE=schedule-app
